{% extends 'base.html' %}

{% load static %}

{% block 'page-title' %}
    {{ title }}
{% endblock 'page-title' %}

{% block 'page-styles' %}
    <style rel="stylesheet" href="{% static 'quickfeed/profile-page.css' %}"></style>
{% endblock 'page-styles' %}

{% block 'page-content' %}
    {% comment %} <h1>Welcome - {{ data.email }}</h1> {% endcomment %}
    <div class="container rounded bg-white mt-5 mb-5 d-flex flex-column">
        {% if success != None and success != ""%}
            <div class="alert alert-success mt-4 text-center" role="alert"
            style="width: 21%; margin-left: auto;">
                {{ success }}
            </div>
        {% endif %} 
        <form action="business-profile-update" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{ data.name }}</span><span class="text-black-50">{{ data.username }}</span>
                        <span class="text-black-50">Reviews: {{ data.review_count }}</span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Business Details</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label class="labels">Name</label>
                                <input type="text" class="form-control" placeholder="Name" value="{{ data.name }}" name="name">
                                <span class="text-danger fw-bold">{{ errors.name }}</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 mb-2">
                                <label class="labels">Mobile Number</label>
                                <input type="text" class="form-control" placeholder="Enter Phone Number" value="{{data.phone}}" name="phone">
                                <span class="text-danger fw-bold">{{ errors.phone }}</span>
                            </div>
                            <div class="col-md-12 mb-2">
                                <label class="labels">Email ID</label>
                                <input type="text" class="form-control" placeholder="enter email id" value="{{data.email}}" name="email">
                                <span class="text-danger fw-bold">{{ errors.email }}</span>
                            </div>
                
                            <div class="col-md-12 mb-2">
                                <label class="labels">Is open</label>
                                <select name="is_open" id="" class="form-control">
                                    {% if data.is_open %}
                                        <option value="True" selected>Yes</option>
                                        <option value="False" >No</option>
                                    {% else %}
                                        <option value="True" >Yes</option>
                                        <option value="False" selected>No</option>
                                    {% endif %}
                                </select>
                                <span class="text-danger fw-bold">{{ errors.is_open }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience">
                            <h4 class="text-right">Address</h4>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 mb-3">
                                <label class="labels">Address Line 1</label>
                                <input type="text" class="form-control" placeholder="Enter Address" value="{{data.address}}" name="address">
                                <span class="text-danger fw-bold">{{ errors.address }}</span>
                            </div>
                
                            <div class="col-md-12 mb-2">
                                <label class="labels">Zip Code</label>
                                <input type="text" class="form-control" placeholder="Enter Zipcode" value="{{data.zipcode}}" name="zipcode">
                                <span class="text-danger fw-bold">{{ errors.zipcode }}</span>
                            </div>
                
                            <div class="col-md-12 mb-2">
                                <label class="labels">City</label>
                                <input type="text" class="form-control" placeholder="Enter City" value="{{data.city}}" name="city">
                                <span class="text-danger fw-bold">{{ errors.city }}</span>
                            </div>
                
                            <div class="col-md-12 mb-2">
                                <label class="labels">State</label>
                                <input type="text" class="form-control" placeholder="Enter State" value="{{data.state}}" name="state">
                                <span class="text-danger fw-bold">{{ errors.state }}</span>
                            </div>
                        </div> 
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="d-flex justify-content-between align-items-center experience">
                            <h4 class="text-right">Description of business/service</h4>
                        </div>
                        <textarea class="form-control" name="description" id="" cols="30" rows="6">{{ data.description }}</textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container">
                        
                        <div class="d-flex justify-content-between align-items-center experience">
                            <h4 class="text-right">Pricing and Timing Details</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-6">
                                <label class="labels">Price</label>
                                <input type="text" class="form-control" placeholder="Price" value="{{ data.price }}">
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <label class="labels">Time</label>
                                <input type="text" class="form-control" placeholder="Time" value="{{ data.time_required }}">
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="d-flex justify-content-between align-items-center experience">
                            <h4 class="text-right">Images</h4>
                            <img src="{{ data.image1.url }}" class="img-fluid"/>
                            <img src="{{ data.image2.url }}" class="img-fluid"/>
                            <img src="{{ data.image3.url }}" class="img-fluid"/>
                            <img src="{{ data.image4.url }}" class="img-fluid"/>
                            <img src="{{ data.image5.url }}" class="img-fluid"/>
                            <img src="{{ data.image6.url }}" class="img-fluid"/> 
                            
                        </div>

                      
                        {% comment %} <input type="file" class="form-control" name="image1">
                        <input type="file" class="form-control" name="image2">
                        <input type="file" class="form-control" name="image3">
                        <input type="file" class="form-control" name="image4">
                        <input type="file" class="form-control" name="image5">
                        <input type="file" class="form-control" name="image6"> {% endcomment %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="d-flex justify-content-between align-items-center experience">
                            <h4 class="text-right">Subscription Details</h4>
                        </div>
                        <label class="labels">Subscription ID</label>
                        <input type="text" class="form-control" placeholder="Subscription Id" value="{{ data.subscription_id_id }}">
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Update Profile</button></div>
                    </div>
                </div>


            </div>
        </form>
    </div>
{% endblock %}