{% extends 'base.html' %}

{% load static %}

{% block 'page-title' %}
    {{ title }}
{% endblock 'page-title' %}

{% block 'page-styles' %}
    <style rel="stylesheet" href="{% static 'quickfeed/profile-page.css' %}"></style>
{% endblock 'page-styles' %}

{% block 'page-content' %}
    {% comment %} <h1>Welcome - {{ data.email }}</h1> {% endcomment %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{ data.name }}</span><span class="text-black-50">{{ data.username }}</span>
                    <span class="text-black-50">Reviews: {{ data.review_count }}</span>


                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Details</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="Name" value="{{ data.name }}"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 mb-2"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="Enter Phone Number" value="{{data.phone}}"></div>

                        <div class="col-md-12 mb-2"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="{{data.email}}"></div>

                        <div class="col-md-12 mb-2"><label class="labels">DOB</label><input type="text" class="form-control" placeholder="DOB" value="{{data.dob}}"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <h4 class="text-right">Address</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 mb-3"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="Enter Address" value="{{data.address}}"></div>

                        <div class="col-md-12 mb-2"><label class="labels">Zip Code</label><input type="text" class="form-control" placeholder="Enter Zipcode" value="{{data.zipcode}}"></div>

                        <div class="col-md-12 mb-2"><label class="labels">City</label><input type="text" class="form-control" placeholder="Enter City" value="{{data.city}}"></div>

                        <div class="col-md-12 mb-2"><label class="labels">State</label><input type="text" class="form-control" placeholder="Enter State" value="{{data.state}}"></div>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <hr>
                    <div class="d-flex justify-content-between align-items-center experience">
                        <h4 class="text-right">Subscription Details</h4>
                        {% comment %} <span class="border px-3 p-1 add-experience">
                            <i class="fa fa-plus"></i>&nbsp;Update</span> {% endcomment %}
                    </div>
                    <label class="labels">Subscription ID</label>
                    <input type="text" class="form-control" placeholder="experience" value="{{ data.subscription_id_id }}">
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Update Profile</button></div>
                </div>
            </div> 
            <br>
        </div>
    </div>
    {% comment %} </div>
    </div> {% endcomment %}
{% endblock %}