.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #680000;
}


.errors input {
    border-color: #680000;
    background-color: #fde3e3;
}

.errors label {
    color: #680000;
}